[run]
branch = True
source = muse_as_service

[report]
exclude_lines =
    pragma: no cover
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

omit =
    muse_as_service/utils.py
    muse_as_service/database/add_user.py
    muse_as_service/database/remove_user.py

show_missing = True
ignore_errors = False
