**.DS_Store
**.ipynb
**.ipynb_checkpoints

# cache
**__pycache__
**.mypy_cache
**.cache

# coverage
**.coverage
**coverage.xml

venv
.idea
dist
.git

src/muse_as_service.egg-info/

models/*
!models/README.md
!models/download_muse.py
