coverage==5.5
Flask==2.0.1
Flask-JWT-Extended==4.2.3
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
gunicorn==20.1.0
passlib==1.7.4
pre-commit==2.13.0
requests==2.25.1
tensorflow==2.3.0
tensorflow-hub==0.12.0
tensorflow-text==2.3.0
